<div class="container">
    <div class="row vh-100 ">
        <div class="col-12 align-self-center">
            <div class="text-center mb-5">
                <h3>Welcome to Asia Alternatives to Quantium Investor Portal</h3>
            </div>
            <div class="auth-page">
                <div class="card auth-card shadow-lg" (click)="onGGV()">
                    <div class="card-body">
                        <div class="px-3">
                                <div class="form-group row mt-4">
                                    <div class="col-sm-3">
                                        <a href="#" class="logo logo-admin"><img src="../../assets/assets/images/ggvlogo.jpg" width="90" alt="logo" class=""></a>
                                    </div><!--end col--> 
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>GGV Capital Limited</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="badge badge-soft-secondary">Reporting</span> USD Fund V (Q1 2021)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="badge badge-soft-secondary">Reporting</span> USD Fund VI (Q1 2021)
                                            </div>
                                        </div>
                                    </div><!--end col--> 
                                </div><!--end form-group--> 
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
                <div class="card auth-card shadow-lg">
                    <div class="card-body">
                        <div class="px-3">
                                <div class="form-group row mt-4">
                                    <div class="col-sm-3">
                                        <a href="#" class="logo logo-admin"><img src="../../assets/assets/images/seqlogo.png" width="90" alt="logo" class=""></a>
                                    </div><!--end col--> 
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>Sequoia Venture Limited</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="badge badge-soft-success">Fundraising</span> USD Fund VI (First closing)
                                            </div>
                                        </div>
                                    </div><!--end col--> 
                                </div><!--end form-group--> 
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end auth-page-->
        </div><!--end col-->           
    </div><!--end row-->
</div>